@media screen and (min-width:768px) {
    
    .screen-768px {
        height: 54px;
        padding: 0px;
        align-items: center;
        min-width: 768px;
        display: flex;
        flex-flow: row;
    }
   .mobile > * {
        display: none;
    }
    .mobile {
        height: 0px;
        padding: 0px;
    }
    .screen-768px > * {
        display: block;
    }
    .screen-768px {
        display: flex;
    }
    .leftend-nav {
        min-width: 552px;
        padding: 0 12px;
        margin: 0 auto 0 0;
        display: flex; 
        flex-direction: row;
        align-items: center;
    }
    .windows-logo {
        width: 24px;
        height: 24px;
        align-self: center;
    }
    .logo-text {
        margin: 0 0 0 12px;
    }
    .nav-list770 {
        margin: 0 0 0 12px;
    }
    .nav-list770 ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row;
    }
    .nav-list770 ul li {
        display: flex;
        align-items: center;
        padding: 20px 8px;
        font-size: 13px;
        font-weight: 350;
    }
    .list-arrow {
        width: 12px;
        margin: 5px 0 0 2px;
        transform: rotate(180deg);
    }
    .rightend-nav {
        display: flex;
        flex-flow: row;
        align-items: center;
    }
    .search {
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search img {
        width: 15px;
        height: 15px;
    }
    .dot-svg svg  {
        width: 28px;
        height: 24px;
    }
    .dot-svg {
        display: flex;
        padding: 15px 8px;
    }
    .sign-in {
        font-size: 13px;
        padding: 20px 8px;
    }
    .S1-third {
        flex-flow: row;
        justify-content: flex-start;
    }
    .S1-third a {
        width: auto;
        margin: 12px 0 0 0;
    }
    .S1-third a:first-child {
        margin-right: 24px;
    }
    .sec1-main-content {
        text-align: left;
        width: 75%;
        
    }
    .S1-container {
        flex-flow: row;
        justify-content: flex-start;
        max-width: 1280px;
        margin: 0 auto;
    }
    /* SECTION 2 */


    .BS-ONLY {
        display: block;
    }
    .sec-2 {
        max-width: 1280px;
        margin: 0 auto;
    }
    .sec2-content {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 30px;
        row-gap: 20px;
    }
    .screen-768px {
        position: sticky;
        top: 67px;
        width: 100%;
    }
    .item2 div.img-container {
        background-image: url(/Assets/img/build-agility-desktop.webp);

    }
    .item1{
        background-image: url(/Assets/img/microsoft-ignite-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        grid-row: 1/3;
        grid-column: 1/2;
    }
    .item1:hover {
        text-decoration: underline;
    }
    .item1 .S2-subitems {
        position: absolute;
        bottom: 30%;
        width: 64%;
    }
    .item1 .S2-subitems h3 {
        color: #151469;
        font-size: 24px;
        font-weight: 600;
    }
    .S2-subitems p {
        margin: 12px 0;
    }
    .item1 .S2-subitems p {
        color: #702573;
        font-size: 16px;
        font-weight: 400;
        margin: 12px 0 0 0;
    }
    .item2 div:first-child {
        background-image: url(/Assets/img/build-agility-desktop.webp);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 119px;
        border-radius: 6px;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .item2 {
        grid-row: 1/2;
        position: relative;
    }
    .item3 div:first-child {
        background-image: url(/Assets/img/accelerate-app-innovation-desktop.webp);        
        width: 119px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        /* background-size: contain; */
        background-position: 50% 50%;
        background-repeat: no-repeat;
        border-radius: 6px;

    }
    .item3 {
        grid-row: 2/3;
        position: relative;
    }
    .S2-items div img {
        /* display: none; */
        visibility: hidden;
    }
    .S2-subitems {
        padding: 24px;
    }
    .item2 .S2-subitems, .item3 .S2-subitems {
        padding-left: 168px;
    }
    .item2 .S2-subitems h3, .item3 .S2-subitems h3 {
    font-size: 20px;
    color: #0062ad;
    
    }
    .S2-subitems h3:hover {
        color: #000;
    }
    .item2 .S2-subitems, .item3 .S2-subitems {
    font-size: 16px;
    color: #4c4c51;
    margin: 12px 0;
    
    }
    .S2-last {
        width: 33.33%;
        margin: 0 auto;
        padding: 24px 39px;
        flex-flow: row;
        justify-content: center;
        /* align-items: center; */
    }
   
    .S2-last a:first-child {
        margin: 0 36px 0 0 ;
        width: auto;
    }
    .S2-last a:last-child {
        width: auto;
    }
    
    /* section 3 */

    .sec3-grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 30px;
        row-gap: 24px;
        margin: 0;
    }
    .sec3-content {
        margin-top: 48px;
    }
    .sec3-display-img {
        display: none;
    }
    .sec3-cardlist {
        display: flex;
        flex-flow: row;
    }
    .sec3-list-parent {
        width: 25%;
    }
    .sec3-list {
        margin: 0 12px 0 0 ;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
    }
    .sec3-cards {
        width: 75%;
        padding: 0;
    }
    .sec3-list li {
        width: 100%;
        background: #f8f9fa;
        border: none;
        box-shadow: none;
        font-size: 16px;
        color: #4c4c51;
        margin: 0 -3px 12px -3px ;
        font-weight: 400;
        text-align: start;
    }
    .sec3-list li:first-child {
        position: static;
        font-size: 16px;
        color: var(--text-color);
        font-weight: 600;
        border-left: 4px solid #0062ad;
        border-radius: 0;
    }
    .sec3-list li:nth-child(2) {
        white-space: nowrap;
    }
    .sec3-list li:nth-child(5) {
        white-space: nowrap;
    }
    .sec3-list li:last-child {
        margin: 0;
    }
    .sec3-list li img {
        display: none;
    }
    .sec3-list-link {
        margin: 12px 0 14px 0 !important;
        padding: 0;
        text-align: start;
        white-space: nowrap;
        font-size: 14px;

    }
    .sec3-list-link li {
        padding: 12px 12px 0;
        font-weight: 600;
    }
    .sec3-list-link:hover {
        text-decoration: underline;
        color: #000
    }
    .sec-3 h2 {
        text-align: left;
        font-size: 24px;
        /* width: 100%; */
        max-width: 1280px;
        padding: 0 15px;
        font-weight: 600;

    }
    .azure-portal {
        /* display: block; */
        padding: 0 10px 0 10px;
        margin-top: 5%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #0062ad;
        font-size: 14px;
    } 
    .azure-portal img {
        width: 15px;
        padding: 0 20px 0  0;
    }
    .sec3-cards {
        padding-bottom: 0;
    }
    .sec5-text {
        margin-top: 0;
    } 
    .sec5-container {
        display: flex;
        flex-flow: row;
        align-items: center;
    }
    .sec5-img {
        max-width: 500px;
    }
    .sec5-content {
        width: 50%;
    }
    /* section 6 */

    .sec6-card-container {
        grid-template-columns: 1fr 1fr 1fr !important;
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        overflow-x: hidden;
    }
    .S6-card {
        width: 100%;
        position: relative;
    }
    .one {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .two {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .three {
        grid-column: 3/4;
        grid-row: 1/2;
        background-image: url(/Assets/img/open-source.webp);
        background-size: cover;
        /* background-position: 50% 50%; */
    }
    .four {
        grid-column:1/2 ;
        grid-row: 2/3;
    }
    .five {
        grid-column: 2/3;
        grid-row: 2/3;
        background-image: url(/Assets/img/azure-regions-1250w.webp);
        background-size: cover;
    }
    .six {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .S6-v2img-container  {
        visibility: hidden;
    }
    .card-v2-supertext {
        display: none;
    }
    .card-v2-text {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
    }
    .card-v2-text:hover {
        color: #fff;
    }

    /* section 8 */

    .sec-8 img {
        width: 48px;
        height: 48px;
        padding: 0;

    }
    .S8 {
        flex-flow: column;
        padding: 24px;

    }
    .S8 p {
        display: block;
    }
    .S8-content {
        margin-top: 24px;
        width: 100%;
    }
    .S8 h3 {
        padding: 0;
        margin-bottom: 9px;
    }
    .S8-img-container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

}