@media screen and (min-width:960px) {
    
    .sec1-main {
        background-image: url(/Assets/icons/index-hero.png);
    }
    
    .sec1-main-content {
        width: 50%;
    }
    .sec3-img-trans {
        display: block;
        padding: 0 15px;
        width: 25%;
        margin-top: 48px;
        position: relative;
    }
    .img-trans {
        position: absolute;
        left: 24px;
        transition: 0.5s;
    }
    .img-trans:hover {
        left: 0px;
        transition:  0.5s;
    }
    .sec3-content {
        width: 75%;
    }
    .azure-portal {
        display: none;
    }
    .S3-container {
        width: 100%;
        display: flex;
        flex-flow: row;
    }
    .featured-div img {
        height: auto;
        width: 847px;
        height: 476px;
        padding: 27px;
        border-radius: 12px;
        background: #000;
    }
    .portal-link {
        color: #0062ad;
        font-size: 14px;
        display: flex;
        flex-flow: row;
        align-items: center;
        padding:0 12px 0 10px;
        width: 220px;
        text-align: left;
    }

    .portal-link img {
        width: 15px;
        padding: 10px;
    }
    .S-maxW {
        max-width: 1280px;
        margin: 0 auto;
    }

    /* section 4 */


    .dot-row {
        display: none;
    }

    .company-row-list {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: flex-start;
    }
    .sec4-main-text {
        position: absolute;
        bottom: 60px;
        background-color: rgba(26, 26, 31, .94);
        width: 50%;
        float: left;
        border-radius: 6px;
        margin: 0 15px;      
    }
    .sec4-main-text-container {
        max-width: 1310px;
        margin: 0 auto;
    }
    .sec4-main-text p, .case-link a {

      color: #f8f9fa;
    }
    .sec4-main-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        min-width: 600px;
        max-height: 700px;
        max-width: 1920px;
    }
    .company-row {
        width: 100%;
        max-width: 1320px;
        margin: 24px auto 0;

    }
    .company-row-list {
        justify-content: center;
    }
    .company-row-list li:nth-child(3) img {
        width: 27px !important;
        margin: 0 auto;
    }
    .company-row-list li:first-child img{
        filter: none;
    }
    .company-row-list li img {
        width: 100%;
        max-width: 126px;
    }
    .company-row-list li    {
     filter: grayscale(1); 
    }
    .company-row-list li:hover {
        filter: none;
        background-color: #f0f0f0;
    }
    .company-row-list li {
        display: flex;
        min-width: 107px;
        padding: 12px;
        margin: 12px;
    }
    .forza {
        border-bottom: 3px solid #0078d4;
    }
    
    /* section 6 */

    .sec6-card-container {
        grid-template-columns: repeat(4, 1fr) !important;
    }
    .one {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .two {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .three {
        grid-column: 3/5;
        grid-row: 1/2;
        background-image: url(/Assets/img/open-source.webp);
        background-size: cover;
        /* background-position: 50% 50%; */
    }
    .four {
        grid-column:1/2 ;
        grid-row: 2/3;
    }
    .five {
        grid-column: 2/4;
        grid-row: 2/3;
        background-image: url(/Assets/img/azure-regions-1250w.webp);
        background-size: cover;
    }
    .six {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    /* section 7 */

    .S7 {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        padding: 0 15px;
        max-width: 1280px;
        margin: 0 auto;
    }
    .sec7-content {
        width: 52%;
        background-color: rgba(26, 26, 31, .94);
        color: #f8f8fa;
        border-radius: 6px;
    }
    .sec7-content p {
        color: #f4f5f6;
        font-size: 24px;
        font-weight: 600;
    }
    .sec7-watch {
        visibility: visible;
        display: block;
        font-weight: 600;
    }
    .sec7-watch:hover {
        text-decoration: underline;
    }
    .circle320{
        display: none;
    }
    .sec7-img img:nth-child(2) {
        display: block;
        width: 100%;
        height: 100%;
        min-height: 600px;
        max-height: 700px;
        max-width: 1920px;
        margin: 0 auto;
        object-fit: cover;
    }
    .sec7-img img:first-child {
        display: none;
    }
    
    .circle {
        width: 24px;
        height: 24px;
        margin-right: 5px;
        background: #50e6ff;
        border-radius: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .play {
        width: 8px;
        height: 8px;
        box-sizing: border-box;
        border-style: solid;
        border-width: 4px 0px 4px 8px;
        border-color: transparent transparent transparent #0078d4;
    
    }
    .S7-flex {
        display: flex;
        align-items: center;
    }
    .checkout-bttn {
        margin-top: 12px;
    }
    .checkout-bttn a {
        padding: 0;
        width: 100%;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        border: none;
        border-radius: 6px;
        margin: 12px 0 0 0;
        text-decoration: underline;
    }
    .checkout-bttn a:hover {
        color: #fff;
        text-decoration: none;
        background: transparent;
    }
    .S7-flex .play-button {
        padding: 12px 16px;
        margin: 12px 24px 0 0;
        display: flex;
        flex-flow: row;
        align-items: center;
        background: #006abb;
        border-radius: 6px;
    }
    /* .sec7-container {
        
    } */

  /* section 8 */

    .sec8-container {
        flex-flow: row;
        gap: 30px;
        max-width: 1280px;
        margin: 0 auto;
    }
    .S8 {
        width: 100%;
    }

    ul.footer-listing {
        display: block;
    }
    .footer-column img {
        display: none;
    }
    .second-row {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 24px;
        margin-top: 36px;
        line-height: normal;
    }
    li , a {
        line-height: normal;
    }
    .footer-column {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        background: #f4f5f6;
        padding: 0;
        margin: 0;
        min-width: 134px;
    }
    .footer-listing  li {
        margin-top: 12px;
    }
    .footer-listing li a {
        font-size: 12px;
        font-weight: 400;
        padding: 2px 0;
        color: var(--text-color);
    }
    .logo-list {
        margin: 0 0 0 36px;
    }
    .first-row {
        align-items: center;
    }
    .third-row {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
    .footer-nav {
        width: 65%;
    }


}