@media screen and (min-width:960px) {
    .sec1-main-content {
        width: 50%;
    }
    .sec3-img-trans {
        display: block;
        width: 25%;
        margin-top: 48px;
        position: relative;
    }
    .img-trans {
        position: absolute;
        left: 24px;
        transition: 0.5s;
    }
    .img-trans:hover {
        left: 0px;
        transition:  0.5s;
    }
    .sec3-content {
        width: 75%;
    }
    .azure-portal {
        display: none;
    }
    .S3-container {
        width: 100%;
        display: flex;
        flex-flow: row;
    }
    .featured-div img {
        height: auto;
        width: 847px;
        height: 476px;
        padding: 27px;
        border-radius: 12px;
        background: #000;
    }
    .portal-link {
        color: #0062ad;
        font-size: 14px;
        display: flex;
        flex-flow: row;
        align-items: center;
        padding:0 12px 0 10px;
        width: 220px;
        text-align: left;
    }

    .portal-link img {
        width: 15px;
        padding: 10px;
    }
    .S-maxW {
        max-width: 1310px;
        margin: 0 auto;
    }

    /* section 4 */


    .dot-row {
        display: none;
    }

    .company-row-list {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: flex-start;
    }
    .sec4-main-text {
        position: absolute;
        bottom: 60px;
        background-color: rgba(26, 26, 31, .94);
        width: 50%;
        float: left;
        border-radius: 6px;
        margin: 0 15px;

        
    }
    .sec4-main-text p, .case-link a {

      color: #f8f9fa;
    }
    .sec4-main-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        min-width: 600px;
        max-height: 700px;
        max-width: 1920px;
    }
    .company-row {
        width: 100%;
        max-width: 1320px;
        margin: 24px auto 0;

    }
    .company-row-list {
        justify-content: center;
    }
    .company-row-list li:nth-child(3) img {
        width: 27px !important;
        margin: 0 auto;
    }
    .company-row-list li img {
        width: 100%;
        max-width: 126px;

    }
    .company-row-list li {
        display: flex;
        min-width: 107px;
        padding: 12px;
        margin: 12px;
    }
    .forza {
        border-bottom: 3px solid #0078d4;
    }
    
    /* section 6 */

    .sec6-card-container {
        grid-template-columns: repeat(4, 1fr) !important;
    }
    .one {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .two {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .three {
        grid-column: 3/5;
        grid-row: 1/2;
        background-image: url(/Assets/img/open-source.webp);
        background-size: cover;
        /* background-position: 50% 50%; */
    }
    .four {
        grid-column:1/2 ;
        grid-row: 2/3;
    }
    .five {
        grid-column: 2/4;
        grid-row: 2/3;
        background-image: url(/Assets/img/azure-regions-1250w.webp);
        background-size: cover;
    }
    .six {
        grid-column: 4/5;
        grid-row: 2/3;
    }
}