@media screen and (min-width:768px) {
    
    header {
        height: 54px;
        width: 100%;
        padding: 0px;
        align-items: center;
    }
   .mobile > * {
        display: none;
    }
    .screen-768 > * {
        display: block;
    }
}