@media screen and (min-width:505px) {
    .mini-nav {
        max-height: 24px;
    }
    .S1-secondary {
        margin-top: 12px;
    }
    .S1-third {
        margin-top: 36px;
    }
    .sec2-content {
        margin-top: 36px;
    }
    .S2-last {
        margin-top: 48px;
    }
    .overview-bttn {
        width: auto;
    }
    .sec3-text {
        margin: 24px 0;
        font-size: 16px;
    }
    .sec3-display-img {
        margin-top: 24px;
    }
    .sec3-list-link {
        margin-top: 24px;
    }
  
}